/*
Theme Name: theme-enfant
Description: theme-enfant de Helene storefront
Author:Helene - storefront

Template: storefront 
Version: 0.1.0
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,700&display=swap%27");

@import url("https://fr.allfont.net/allfont.css?fonts=droid-serif");

p {
  font-family: "Droid Serif", arial;
  color: #879499;
  font-size: 14px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #3e4749;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
}

a {
  color: #faa000 !important;
}
a:hover {
  color: red !important;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #ff4b01;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}
body {
  font-family: "Lato", sans-serif !important;
}

.payment_method_bacs p {
  color: #ffffff;
}

.button {
  background: #ff4b01 !important;
  color: white !important;
 font-size: 14px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px 32px;
  border-radius: 3px;
}

.button:hover {
  color: #faa000 !important;
}
figure > img {
  width: 400px;
  height: 300px;
}

.alignwide {
  font-family: Lato, sans- serif;
  color: #faa000;
  font-size: 40px;
  line-height: 50px;
  font-style: italic;
}

.has-text-align-center {
  font-family: Lato, sans- serif;

  font-size: 40px;
  line-height: 50px;
  font-style: italic;
}
.main-navigation ul.menu > li > a {
  font-weight: 700 !important;
}

.site-header {
  background: #3e4749 !important;
}

footer {
  background: #3e4749 !important;
}
